* {
    box-sizing: border-box;
  }
  
  
  body {
    background-color: #0000cc;
    }
  
  .container {
    text-align: center;
    background-color: #0000ff;
    border: 3px solid #ffff80;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 20px;
    margin: 20px 80px 20px 80px;
    position: relative;
    
  }
  
  .text {
    color: yellow;
    font-family: courgette, helvetica;
  }
  
  .picture {
    border: 6px solid #ffff80;
    border-radius: 10px;
    height: 200px;
    width: 200px;
  /*   position: absolute; */
    top: 50px;
    left: 1100px;
  }
  
  p {
    color: white;
    font-family: courgette, helvetica;
    
  }
  
  td {
    color: white;
    }
  
  ol, a {
    color: white;
      }
  
  ol {  
    padding: 5px;
    width: 80px;
    height: 60px;
    margin: auto;
    text-align: left;
    font-family: courgette;
  }
  
  table {
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: courgette;
   
  }
  
  .linkedin {
    position: fixed;
    top: 30px;
    right: 1100px;
    background: red;
    padding: 1rem;
  /*   z-index: 1; */
  }
  
  a:hover {
    color: purple;
  }
  
  button {
    background-color: yellow;
    border-radius: 20px;
    font-family: courgette, helvetica;
  }
  
  button:hover{
    animation: myfirst 4s 2;
  }
  
  @keyframes myfirst {
    0% {background:red;}
    25% {background:green;}
    75% {background:purple;}
    100% {background:pink;}
    
  }
  
  .video {
    border: 10px solid #ffff80;
    border-radius: 10px;
  }